<!DOCTYPE html>
<html>
<head>
  <title>Movie Night</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

<footer>Background photo by <a href="http://www.flickr.com/photos/nicksherman/2477710386/" target="_blank">Nick Sherman</a></footer>
</html>
